{
    "_id": "_design/votes",
    "views": {
        "lib": {
            "normal": "{ normal_lib }"
        },
        "votes": {
            "map": "{ votes_map }",
            "reduce": "_stats"
        },
        "normal": {
            "map": "{ normal_map }",
            "reduce": "_count"
        }
    }
}
